{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Thank you very much for your participation!
{% endblock %}

{% block content %}


     <p>
         <br/>
         <br/>
        In order not to affect the judgment of the colleagues that will take part in the game at a later period,
        please<br/>
         <strong>keep the information </strong> regarding the game (the design, the questions etc.) to yourself
         and <strong> do not share </strong> with any other person.
     </p>
     <p>
        The data collected in this game will be used in my thesis to test a hypothesis. <br/>
        If you would like to know the result of the final analysis, please stay tuned for the thesis,
        which will come out in August, 2018.
     </p>
     <p>
        Thank you and have a great day!
     </p>
    <p>
    <h4>Katharina Franke</h4><br/>
    </p>
        Please now show your screenshot to the operator to get your bonus.

    <br/>
    <br/>

    <p>
      <img src="{% static "global/thank you.jpg" %}"/> </br>
    Source: https://www.shutterstock.com
    </p>


{% endblock %}


