{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Questionnaire
{% endblock %}

{% block content %}
    <p>
        Please answer the following questions <strong>truthfully</strong> and
        as <strong>informative</strong> as possible
        to help the researcher understanding your decisions.
    </p>

    <p>
        All data will be kept <strong> anonymous </strong> and only used for the researcher's thesis. <br/>
        It is not possible to draw conclusions form individuals to their answers.
    </p>
    <p>
    Feel free to answer the open questions in English or in German.
    </p>

    {% formfield player.calculator%}
    {% formfield player.prio%}
    {% formfield player.other %}
    {% formfield player.system %} <img src= "{% static "global/system.png" %}"/>

    <br/> <br/>
    {% next_button %}

{% endblock %}
